.hero{
    
    background-image:url(../../images/pexels-lisa-fotios-1107717.jpg);
    @include fit_background();
    // background-attachment: fixed;
    @include flex_start();
    height:60vh;
    margin-top: 60px;

    @include breakpoint(mobile){
        height:auto;
    }

    .main-title{
        color:#fff;
        background-color: rgba(0, 0, 0, 0.2);
        font-size: fontSize(level_2);
        font-weight: 200;
        padding: 100% $marge;

        @include breakpoint(mobile){
            padding: 40px 5%;
        }
    }
}

.form-container{
    @include flex_center();
    background-color:#f2f2f2;
    padding:24px $marge;
    
    @include breakpoint(mobile){
        padding:24px 5%;
    }
    
    .input-control{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:90%;
        min-width:300px;
        height:40px;
        padding-left:12px;
        padding-right:6px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(51, 51, 51, 0.281);
        border-radius:20px;
    }

    input{
        border:none;
        outline:none;
        width:80%;
    }

    button{
        background-color:$secondary_color;
        color:$primary-color;
        width:30px;
        height:30px;
        border-radius:50%;
        transition: background-color $tr_duration;

        &:hover{
            background-color:#333;
        }
    }
}

.wrapper{
    .tabs{
        // margin: 20px 0;
        display: flex;
        gap:8px;

        @include breakpoint(mobile){
            width:100%;
            overflow-x: scroll;
        }
    }

    .tab{
        padding:8px 16px;
        font-size: fontSize(normal);
        transition: background-color $tr_duration;

        &:hover{
            background-color: lighten($secondary_color, 45%);
        }
        
        &.active{
            background-color: lighten($secondary_color, 45%);
            border-bottom: 4px inset $secondary_color;
        }
    }
}

section{
    .title{
        font-size: fontSize(level_4);
        color: $primary-color;

        &::after{
            content:"";
            display: block;
            height: 4px;
            width:40%;
            background-color:$secondary_color;
        }
    }
}

.wrapper .container{
    @include flex_start(column);
    gap:3rem;
    margin: 3rem 0;

    .name, .desc{
        font-size:fontSize(level_4);
    }

    .desc{
        font-weight: 200;
    }

    .description{
        font-size: fontSize(normal);
        padding:12px;
        @include breakpoint(mobile){
            background-color: lighten($secondary_color, 46%);
        }
    }

    .card{
        @include flex_center(column);
        border:1px solid lighten($primary-color, 70%);
        padding:6px;
        width:100%;

        .card-header{
            @include flex_center();
            gap:12px;
        }

        .temp{
            font-size: fontSize(level_2);
        }
    }

    .card .details{
        @include flex_center();
        justify-content:space-evenly;
        margin-top:8px;
       

        p{
            font-size: fontSize(normal);
            background-color: #f3f3f3;
            padding:3px;
            border-radius: 3px;
            width:20%;
        }
    }   
}

.forecast{
    .card{
    
    }
}