.hero{
    
    background-image:url(../../images/pexels-lisa-fotios-1107717.jpg);
    @include fit_background();
    // background-attachment: fixed;
    @include flex_start;
    height:60vh;
    margin-top: 60px;

    @include breakpoint(mobile){
        height:auto;
    }

    .main-title{
        color:#fff;
        font-size: fontSize(level_2);
        font-weight: 300;
        padding: 0 $marge;

        @include breakpoint(mobile){
            background-color: rgba(0, 0, 0, 0.2);
            font-size: fontSize(level_3);  
            padding: 40px 5%;
        }
    }
}

.form-container{
    @include flex_center;
    background-color:#f2f2f2;
    padding:24px $marge;
    
    @include breakpoint(mobile){
        padding:24px 5%;
    }
    
    .input-control{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:90%;
        min-width:300px;
        height:40px;
        padding-left:12px;
        padding-right:6px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(51, 51, 51, 0.281);
        border-radius:20px;
    }

    input{
        border:none;
        outline:none;
        width:80%;
    }

    button{
        background-color:$secondary_color;
        color:$primary-color;
        width:30px;
        height:30px;
        border-radius:50%;
        transition: background-color $tr_duration;

        &:hover{
            background-color:#333;
        }

        i{
            color:#fff;
            font-size:2.1rem;
        }
    }
}

.wrapper{
    .tabs{
        display: flex;
        gap:8px;

        @include breakpoint(mobile){
            width:100%;
            overflow-x: scroll;
        }
    }

    .tab{
        padding:8px 16px;
        font-size: fontSize(normal);
        transition: background-color $tr_duration;

        &:hover{
            background-color: lighten($secondary_color, 45%);
        }
        
        &.active{
            background-color: lighten($secondary_color, 45%);
            border-bottom: 4px inset $secondary_color;
        }
    }
}

section{

    .title{
        font-size: fontSize(level_4);
        color: $primary-color;
        margin-bottom:20px;

        span{
            font-weight: 300;
        }

        &::after{
            content:"";
            display: block;
            height: 3px;
            width:40%;
            background-color:$secondary_color;
        }
    }
}

.wrapper .container{
    @include flex_start(column);
    gap:3rem;
    margin: 3rem 0;

    .name, .desc{
        font-size:fontSize(level_4);
        font-weight:400;
    }

    .desc{
        font-weight: 200;
    }

    .card{
        @include flex_center(column);
        border:1px solid lighten($primary-color, 70%);
        border-radius:6px;
        padding:6px;
        width:100%;

        .card-header{
            @include flex_center;
            gap:12px;
        }

        .temp{
            font-size: fontSize(level_2);

            span{
                display:block;
                font-size: fontSize(normal);
            }
        }
    }

    .card .details{
        margin-top:8px;
        width:100%;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap:5px;
       
        div{
            @include flex_center(column);
            font-size: fontSize(normal);
            background-color: #f3f3f3;
            padding:8px 4px;
            border-radius: 3px;
            height:100%;

            p{
                text-align: center;
            }
        }
    }
    
    .description{
        display: none;
        font-size: fontSize(normal);
        padding:12px;
        background-color: lighten($accent_color, 10%);
        border-radius:6px;
    }
}

.forecast{
    .title{
        width:max-content;
    }

    .card{
        @include flex_center;
        justify-content: space-between;
        display: flex;
        align-items:center;
        gap:2px;

        &:not(:nth-last-child(1)){
            margin:12px 0;
            border-bottom: 1px solid lighten($color: $primary_color, $amount: 70%);
        }

        .hour, .temp{
            font-size: fontSize(level_4);
            color:$primary-color;

            @include breakpoint(mobile){
                max-width:100px;
            }

            span.description, span.feels-like{
                display:block;
                font-size:1.8rem;
                font-weight:200;
                margin-top:4px;
            }
        }

        .temp{
            text-align: center;
        }

        .weather-icon{
            @include breakpoint(mobile){
                width:60px;
            }
        }
        
        .wind, .precipitations{
            font-size: 2rem;
            text-align: center;
        }
    }
}

.daily-forecast{
    background-color: lighten($color: $accent_color, $amount: 10%);
}

