
// VARS

// Colors
$primary_color:#2e2e2e;
$secondary_color:#f19d00;
$accent_color:#faf6af;

// Fonts
$title: Ubuntu, sans-serif;
$normal: Ubuntu, sans-serif;

// Margins & Paddings
$marge:10%;

// Durations
$tr_duration : .3s;


// LISTS & MAPS

//Font size
$font_size:(
    level_1: 8rem,
    level_2: 5.56rem,
    level_3: 3.4rem,
    level_4: 2.4rem,
    normal: 2rem,
);

// Breakpoints
$breakpoint: (
    mobile: 480px,
    tablet: 768px,
    laptop: 978px,
    desktop: 1024px
    );