@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

input[type=reset],
input[type=submit],
input[type=button],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: CreativeMind;
  src: url(../../fonts/creative_mind.woff) format("woff");
  src: url(../../fonts/creative_mind.woff2) format("woff2");
}
html {
  font-family: Ubuntu, sans-serif;
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 37.5%;
  }
}

nav {
  background-color: #3b3b3b;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  nav {
    padding: 20px 5%;
  }
}

.nav-brand {
  font-size: 3.4rem;
  font-weight: 700;
  color: #f19d00;
}
.nav-brand span {
  font-weight: 300;
  color: #fff;
}

.nav-link {
  color: rgba(255, 255, 255, 0.678);
  font-size: 2rem;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #fff;
}
@media screen and (max-width: 480px) {
  .nav-link {
    display: none;
  }
}

.humburger {
  display: none;
}
@media screen and (max-width: 480px) {
  .humburger {
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.24);
    font-size: 2.4rem;
    transition: background-color 0.3s;
  }
  .humburger:hover {
    background-color: #fff;
    color: #3b3b3b;
  }
}

section {
  padding: 5rem 10% 0;
}
@media screen and (max-width: 480px) {
  section {
    padding: 5rem 5% 0;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  background-color: #3b3b3b;
  color: #fff;
  padding: 2rem 10%;
}
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.copyright {
  font-size: 2rem;
  font-weight: 200;
}

.creative-mind {
  font-family: CreativeMind;
  font-size: 3.4rem;
  opacity: 0.5;
}

.hero {
  background-image: url(../../images/pexels-lisa-fotios-1107717.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 60vh;
  margin-top: 60px;
}
@media screen and (max-width: 480px) {
  .hero {
    height: auto;
  }
}
.hero .main-title {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 5.56rem;
  font-weight: 200;
  padding: 100% 10%;
}
@media screen and (max-width: 480px) {
  .hero .main-title {
    padding: 40px 5%;
  }
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 24px 10%;
}
@media screen and (max-width: 480px) {
  .form-container {
    padding: 24px 5%;
  }
}
.form-container .input-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-width: 300px;
  height: 40px;
  padding-left: 12px;
  padding-right: 6px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(51, 51, 51, 0.281);
  border-radius: 20px;
}
.form-container input {
  border: none;
  outline: none;
  width: 80%;
}
.form-container button {
  background-color: #f19d00;
  color: #3b3b3b;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.form-container button:hover {
  background-color: #333;
}

.wrapper .tabs {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 480px) {
  .wrapper .tabs {
    width: 100%;
    overflow-x: scroll;
  }
}
.wrapper .tab {
  padding: 8px 16px;
  font-size: 2rem;
  transition: background-color 0.3s;
}
.wrapper .tab:hover {
  background-color: #fff1d8;
}
.wrapper .tab.active {
  background-color: #fff1d8;
  border-bottom: 4px inset #f19d00;
}

section .title {
  font-size: 2.4rem;
  color: #3b3b3b;
}
section .title::after {
  content: "";
  display: block;
  height: 4px;
  width: 40%;
  background-color: #f19d00;
}

.wrapper .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  margin: 3rem 0;
}
.wrapper .container .name, .wrapper .container .desc {
  font-size: 2.4rem;
}
.wrapper .container .desc {
  font-weight: 200;
}
.wrapper .container .description {
  font-size: 2rem;
  padding: 12px;
}
@media screen and (max-width: 480px) {
  .wrapper .container .description {
    background-color: #fff3dd;
  }
}
.wrapper .container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeee;
  padding: 6px;
  width: 100%;
}
.wrapper .container .card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.wrapper .container .card .temp {
  font-size: 5.56rem;
}
.wrapper .container .card .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8px;
}
.wrapper .container .card .details p {
  font-size: 2rem;
  background-color: #f3f3f3;
  padding: 3px;
  border-radius: 3px;
  width: 20%;
}