*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

input[type=reset],
input[type=submit],
input[type=button],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: CreativeMind;
  src: url(../../fonts/creative_mind.woff) format("woff");
  src: url(../../fonts/creative_mind.woff2) format("woff2");
}
html {
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 37.5%;
  }
}