*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

input[type=reset],
input[type=submit],
input[type=button],
button {
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: CreativeMind;
  src: url(../../fonts/creative_mind.woff) format("woff");
  src: url(../../fonts/creative_mind.woff2) format("woff2");
}
html {
  font-family: Ubuntu, sans-serif;
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 37.5%;
  }
}

nav {
  background-color: #020f31;
  position: fixed;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-size: 2.4rem;
  font-weight: 700;
  color: #f19d00;
}
.nav-brand span {
  font-weight: 300;
  color: #fff;
}

.nav-link {
  color: rgba(255, 255, 255, 0.678);
  font-size: 2rem;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #fff;
}

main {
  height: 85vh;
  padding: 0 10%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #020f31;
  color: #fff;
  padding: 20px 10%;
}

.copyright {
  font-size: 1.8rem;
}
.copyright span {
  font-family: CreativeMind;
  font-size: 3.4rem;
}

h2 {
  color: red;
  font-family: Ubuntu, sans-serif;
}