
footer{
    @include flex_center();
    gap:1.6rem;
    background-color: $primary-color;
    color:#fff;
    padding: 4rem $marge;

    @include breakpoint(mobile){
        @include flex_center(column);
    }
}

.copyright{
    font-size: fontSize(normal);
    font-weight: 200;
}

.creative-mind{
    font-family: CreativeMind;
    font-size: fontSize(level_3);
    opacity:.5;
}