<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title> Weather </title>
    <meta name="description" content="Daily weather report app !">
</head>
<body>

    <header>
        <nav>
            <a href="#" class="nav-brand">Weather<span>App</span></a>
            <a href="#" class="nav-link">About</a>
        </nav>


    </header>

    <main>
        <h2>Today</h2>
        <div class="card">
            <h3 class="card-title">Aujourd'hui</h3>
            <p>21 Oct 2022</p>
            <img src="" alt="Image montrant l'état actuel des nuages">
            <p>21°C</p>
            <p class="name">Nuageux</p>
            <p class="description">Ciel dégagé</p>
        </div>

    </main>

    <footer>
        <p class="copyright">&copy; 2022 - Tous droits reservés <span>&bull;CreativeMind</span></p>
    </footer>
    
</body>
</html>