<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title> Weather </title>
    <meta name="description" content="Daily weather report app !">
</head>
<body>

    <header>
        <nav>
            <a href="#" class="nav-brand">Weather<span>App</span></a>
            <a href="#" class="nav-link">About</a>
            <a href="#" class="humburger">i</a>

        </nav>
    </header>

    <main>
        <section class="header">
            <h2 class="main-title">Découvrez la météo de 5 prochains jours pour vous habiller correctement ! </h2>

            <div class="tabs">
                <button class="tab active">Aujourd'hui</button>
                <button class="tab">Mardi</button>
                <button class="tab">Mercredi</button>
                <button class="tab">Jeudi</button>
                <button class="tab">Vendredi</button>
            </div>
        </section>

        <section class="content">
            <p class="date">23 Oct 2022</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In quam, dignissimos ab amet nesciunt vel error minima provident dolorem repudiandae vitae accusantium ut eaque at suscipit recusandae magni facere sapiente.</p>

            <div class="card">
                <p class="temp">21°C</p>
                <img src="../../images/icon.webp" alt="Image montrant l'état actuel des nuages">
                <p class="feels-like">Ressenti : 23°C</p>
                <p class="name">Nuageux</p>
                <p class="feels-like">vent</p>
                <p class="description">Ciel dégagé</p>
            </div>
        </section>

    </main>

    <footer>
        <p class="copyright">&copy; 2022 - Tous droits reservés</p>
        <p class="creative-mind" >&bull;CreativeMind</p>
    </footer>
    
</body>
</html>